
.controls__endButton {
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 250px;
    height: 50px;
    margin: auto;
    background: #FE7777;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: 2px solid #FE7777;
    cursor: pointer;
    transition: .2s;
}

.controls__endButton:hover {
    color: #FE7777;
    background-color: #fff;
    transition: .2s;
}